/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background: rgb(99,26,125);
    background: linear-gradient(112deg, rgba(99,26,125,1) 33%, rgba(26,109,125,1) 100%);
    font-family: 'Istok Web', sans-serif;
}