<div id="form-cep">
    <div class="form-cep-box">
        <h1>Consulta Cep</h1>
        <form [formGroup]="cepForm" (ngSubmit)="consultaCep()">
            <input formControlName="zipCode" mask="00000-000" type="text" placeholder="Informe o seu cep" />
            <button type="submit" [disabled]="cepForm.invalid">Consultar</button>
            <hr>
            @if(hiddenInputs()) {
                <div class="hidden-inputs">
                    <ul>
                        @for (item of resultCep(); track item[0]) {
                            @if(item[1] !== '') {
                                <li>
                                    <p class="title">{{ item[0] }}: </p>
                                    <p class="content">{{ item[1] }}</p>
                                </li>
                            }
                        }
                    </ul>
                    <img src= "../../assets/img/google-maps.png" alt="Ícone do Google Maps">
                </div>
            }
            @if (erro() && !hiddenInputs()) {
                <p class="message-error">{{resultCep_error()}}</p>
            }
        </form>
    </div>
</div>
