
#form-cep {
    display: flex;
    justify-content: center;
    height: 100vh;
    
    .form-cep-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        max-width: 600px;
        min-height: 500px;
        padding: 0 15px;
        
        form {
            .message-error {
                background-color: #ff5b5b;
                opacity: .8;
                text-align: center;
                color: #fff;
                border-radius: 8px;
                padding: 5px;
            }
            display: flex;
            flex-direction: column;
            width: 100%;
            .hidden-inputs {
                display: flex;
                align-items: center;
                background-color: #fff;
                border-radius: 20px;
                ul {
                    margin: 10px 0;
                    padding: 0;
                    list-style: none;
                    width: 60%;
                    li {
                        display: flex;
                        margin: 15px;
                        .title {
                            margin: 0 5px;
                            color: #631A7D;
                            text-transform: capitalize;
                        }
                        .content {
                            margin: 0;
                            color: #1E687D
                        }
                    }
                }
                @media(max-width: 460px) {
                    img {
                        display: none;
                    }
                    ul {
                        width: 100%;
                    }
                }
            }
        }
    }
}