<div id="form-cep">
    <div class="form-cep-box">
        <h1>Consulta Cep</h1>
        <form>
            <input [(ngModel)]="zipCode" mask="00000-000" [ngModelOptions]="{standalone: true}" type="text" placeholder="Informe o seu cep" />
            <button (click)="consultaCep()">Consultar</button>
            <hr>
            @if(hiddenInputs) {
                <div class="hidden-inputs">
                    <ul>
                        @for (item of resultCep | keyvalue; track item.key) {
                            @if(item.value[1] !== '') {
                                <li>
                                    <p class="title">{{item.value[0]}}: </p>
                                    <p class="content">{{item.value[1]}}</p>
                                </li>
                            }
                        }
                    </ul>
                    <img src= "../../assets/img/google-maps.png">
                </div>
            }
            @if (erro && !hiddenInputs) {
                <p class="message-error">{{resultCep_error}}</p>
            }
        </form>
    </div>
</div>
